# Arquivos de ambiente compartilhados
.env
env/
envs/

# Arquivos e pastas temporárias
*.log
*.pid
*.tmp
*.swp
*.swo
*.DS_Store
Thumbs.db

# Docker volumes ou dados locais, se criados na raiz
volumes/
data/
tmp/

# VSCode ou IDEs
.vscode/
.idea/

# Backup ou cache de editores
*~
*.bak
*.orig
*.rej

# Node (caso você tenha algum utilitário na raiz)
node_modules/

# Python virtualenvs (caso exista na raiz)
venv/
.env/
__pycache__/
*.py[cod]